body{
    margin: 0;
    color: lightgray;
    background-color: rgb(127, 149, 167);
}

.navbar{
    display: flex;
    justify-content: space-between;
    padding: 17px;
    align-items: center;
    background-color: rgb(33, 72, 94);
}
.oras{
    margin:right 5px ;
    padding: auto;
}
.oras button{
    cursor: pointer;
}
.weather-card{
    text-align: center;
    background-color: cadetblue;
    width: 400px;
    margin: 120px auto;
    border-radius: 25px;
}
#icon{
    width: 100%;
}
#temperatura{
    font-size: 45px;
}
.day-card {
  width: 120px;
  padding: 20px;
  border-radius: 20px;
  text-align: center;
  background-color: rgb(107, 135, 77);
}
#Prognoza{
  color: black;
}
.forecast {
  display: flex;
  gap: 10px;
  overflow-x: auto;
}


.day-card img {
  width: 50px;
}